# Node modules
node_modules/

#downloads
downloads/

# Environment variables
.env

.gitignore

#screenshootjs
screenshoot.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Optional cache
.cache/
dist/
build/

# Editor settings
.vscode/
.idea/

# PM2 logs
pids/
logs/

# Others
*.local
